.wholething {
  margin-top: 200px;
  display: flex;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  height: 480px;
}

@font-face {
  font-family: odinFont;
  src: url(Norse-Bold.otf);
}

.backdrop > img {
  height: 480px;
  width: 280px;
  object-fit: cover;
  object-position: 63%;
}

.backdrop .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 290px;
}

.backdrop > .logo > .text {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 3rem;
  font-family: odinFont;
}

.backdrop > .logo > .text > img {
  height: 60px;
  width: 50px;
}

.main {
  height: 480px;
}

.main > .calltoaction {
  margin-top: 60px;
}

.main > .emphasize {
  margin-top: 15px;
}

.main .calltoaction, .main .emphasize, .signup > .text {
  margin-left: 20px;
}



