.wholething {
  margin-top: 200px;
  display: flex;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  height: 480px;
}

@font-face {
  font-family: odinFont;
  src: url(Norse-Bold.otf);
}

.backdrop > img {
  height: 480px;
  width: 280px;
  object-fit: cover;
  object-position: 63%;
}

.backdrop .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 290px;
}

.backdrop > .logo > .text {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 3rem;
  font-family: odinFont;
}

.backdrop > .logo > .text > img {
  height: 60px;
  width: 50px;
}

.main {
  height: 480px;
}

.main > .calltoaction {
  margin-top: 37px;
  max-width: 500px;
  font-weight: 500;
}

.main > .emphasize {
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: 500;
}

.main .signup .text {
  font-weight: 500;
  font-size: 1.05rem;
}

.main {
  margin-left: 25px;
}

.main form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
  max-width: 480px;
  margin-top: 18px;
}

.main form input {
  max-width: 180px;
  border: 1.3px solid #E5E7EB;
  margin-block: 2px;
}

.main label {
  font-size: 0.7rem;
}

.main button {
  margin-top: 24px;
  background-color: #596D48;
  padding: 9px;
  padding-inline: 30px;
  font-weight: 700;
  color: white;
  border-radius: 6px;
  border: 0;
}

.main .already {
  margin-top: 26px;
  font-size: 0.8rem;
}

.main .already a {
  text-decoration: none;
  color: #596D48;
  font-weight: 600;
}
